body {
    font-family: "Roboto", sans-serif;
    Color: #434455;
    background: #FFFFFF;
}
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.header-logo,
.footer-logo
{       
    
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.footer-logo-features {
    color:#F4F4FD;
}


.header-logo-span {
    color:  #2E2F42;
}
.header-studio-logo,
.footer-studio-logo {
    color:  #2E2F42;
}

.header-contacts-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}

/*================================*/

.hero {
    background-color: #2e2f42;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
    max-width: 496px;
}

.hero-button {
    color:  #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    display: block; 
    min-width: 169px;
    height: 56px ;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}

.address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-strategy .visually-hidden {

}
.features-list {
    display: flex; 
    gap: 24px; 
}
.features-list-inside {
    width: calc((100% - 72px) / 4); 
}

.features-header {
    font-family: "Roboto";
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}

.features-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-content {
    background-color: #F4F4FD;
    padding: 120px 0
}


.header-our-team,
.main-title {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}


.header-content-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}


.card-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    text-align: center; 
    margin-bottom: 8px;
}

.card-content {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    text-align: center;
}

.project-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.project-content {
    color:  #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-footer {
    background: #2e2f42;
    padding: 100px 0;
  
}

.footer-logo {
    font-family: "Raleway",sans-serif;
    display: inline-block;
    margin-bottom: 16px; 
}
.footer-logo-features {
    color: #f4f4fd;
    margin-bottom: 16px; 
}

.project-content-list {
    color: #f4f4fd;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
}

img {
    display: block ;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.div-header {
    display: flex; 
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}
.main-nav {
    display: flex;
    align-items: center; 
}
.header-logo,
.header-logo-span {
    margin-right: 76px;
}
.address {
    display: flex;
    gap: 40px;

}
.menu {
    display: flex; 
    gap: 40px;

}
.header-contacts-link {
    padding: 24px 0;
}
.hero {
    padding: 188px 0;
}
.features  {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px; 
}
.features-list-inside {
    flex-basis: calc((100% - 72px) / 4);
}
.header-list {
    display: flex; 
    gap: 24px;
}

.info-member {
    padding: 32px 0 ;
}
.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}
.main-title-portfolio {
    margin-bottom: 72px; 

}
.portfolio-list {
    display: flex ;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
}
.name-of-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;

}